.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  font-family: 'Roboto', sans-serif;
}

.App-title {
  display: flex;
  font-family: 'Catamaran', sans-serif;
  color: #EC4E20;
  margin: 0px 5px;
  font-size: 20vh;
}

.Button-create{
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.Game-start-actions {
  display: flex;
  min-height: 30vh;
}

.Host-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Join-view {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Room-code-main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.Room-code-host{
  font-size: 4vh;
}

.Room-code-id {
  color: #EC4E20;
  margin: 0px 5px;
  font-size: 9vh;
}